In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv(r"C:\Users\Acer\Desktop\Dataset\advertising_data.csv")

In [3]:
dataset

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [4]:
d=dataset[["TV","Sales"]]
d

        TV  Sales
0    230.1   22.1
1     44.5   10.4
2     17.2   12.0
3    151.5   16.5
4    180.8   17.9
..     ...    ...
195   38.2    7.6
196   94.2   14.0
197  177.0   14.8
198  283.6   25.5
199  232.1   18.4

[200 rows x 2 columns]

In [5]:
dataset.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [6]:
d.to_csv("Advertising_data",index=False)

In [7]:
data=pd.read_csv("Advertising_data")
data

        TV  Sales
0    230.1   22.1
1     44.5   10.4
2     17.2   12.0
3    151.5   16.5
4    180.8   17.9
..     ...    ...
195   38.2    7.6
196   94.2   14.0
197  177.0   14.8
198  283.6   25.5
199  232.1   18.4

[200 rows x 2 columns]

In [8]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
x_train.shape

(160, 1)

In [11]:
y_train.shape

(160,)

In [12]:
x_test.shape

(40, 1)

In [13]:
y_test.shape

(40,)

In [14]:
from sklearn.linear_model import LinearRegression
r1=LinearRegression()
r1.fit(x_train,y_train)

LinearRegression()

In [15]:
y_pred=r1.predict(x_test)

In [16]:
y_pred

array([10.92912965,  9.88399105, 12.08313684, 22.93189318, 16.42699412,
       10.22148373,  7.63585439, 20.23195181,  8.45781235, 17.91849399,
       21.38595901, 11.90894708, 15.68668762, 17.38503783, 11.32105662,
       13.70527904, 21.62002651,  7.20037998, 11.22851831, 18.77855596,
       22.81758114, 14.7994085 , 16.6937222 , 14.33127351, 10.07451111,
       13.86313851, 16.17659633, 18.32130782, 19.35555956,  8.52857694,
       10.85292163, 17.98925858, 22.44198446, 20.3190467 ,  7.88080875,
        8.18019741, 10.40656035, 17.00399772, 10.88558221,  8.52313351])

In [17]:
y_pred=r1.predict([[230]])

In [18]:
y_pred

array([19.68216537])